**Segmenting and clustering neighborhoods in the city of Toronto**

Week3 Peer Graded Assignment

Data Science IBM Capstone Project

**Part 1**

In [1]:
pip install BeautifulSoup4

Requirement already satisfied: BeautifulSoup4 in /usr/local/lib/python3.7/dist-packages (4.6.3)

In [2]:
import numpy as np # library to handle data in a vectorized manner
import pandas as pd # library for data analsysis
import requests 
from bs4 import BeautifulSoup 

print('Libraries imported.')

Libraries imported.

In [4]:
URL = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_T"
r = requests.get(URL) 
  
soup = BeautifulSoup(r.content, 'html5lib') 
table = soup.find('div', attrs = {'id':'container'}) 

# print(soup.prettify()) 
print('Page Scrapped.')

Page Scrapped.

In [6]:
postalCodes = [];
boroughs= [];
neighborhoods = [];
columnNum = 1;
passVal = False

for row in soup.find_all('td'):
    for cell in row:
        if cell.string and cell.string[0].isalpha() and len(cell.string) > 2:
            passVal = False
            if columnNum == 1:
                if passVal == False and cell.string[1].isdigit():
                    postalCodes.append(cell.string);   
                    columnNum = 2
                else:
                    continue
            elif columnNum == 2 :
                if cell.string == 'Not assigned':
                    passVal = True
                    del postalCodes[-1]
                    columnNum = 1
                    continue
                else:
                    boroughs.append(cell.string);      
                    columnNum = 3
            elif columnNum == 3 :
                if cell.string == 'Not assigned\n':
                    neighborhoods.append(boroughs[-1])
                else:
                    neighborhoods.append(cell.string); 
                columnNum = 1
                
print('Data Collected.')

Data Collected.

In [7]:
# define the dataframe columns
column_names = ['PostalCode', 'Borough', 'Neighborhood'] 

# instantiate the dataframe
neighbors = pd.DataFrame(columns=column_names)

neighbors

Empty DataFrame
Columns: [PostalCode, Borough, Neighborhood]
Index: []

In [8]:
for data in range(len(neighborhoods)):
    code = postalCodes[data]
    borough = boroughs[data]
    neighborhood_name = neighborhoods[data]

    neighbors = neighbors.append({ 'PostalCode': code,
                                   'Borough': borough,
                                   'Neighborhood': neighborhood_name}, ignore_index=True)

neighbors

    PostalCode         Borough Neighborhood
0          T1A             T2A          T3A
1          T4A             T5A          T6A
2          T7A  Drayton Valley          T8A
3          T9A      Wetaskiwin          T1B
4          T2B             T3B          T4B
..         ...             ...          ...
254        T0N      Not in use          T0P
255        T0R      Not in use          T0S
256        T0T      Not in use          T0V
257        T0W      Not in use          T0X
258        T0Y      Not in use          T0Z

[259 rows x 3 columns]

In [9]:
neighbors.shape

(259, 3)